.game_board
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
   
    
}
.buttonsadj
{
    display: flex;
    width:255px;
    gap: 10px;
}
.but
{
    width:49%;
    height: 50px;
    cursor: pointer;
    background-color: rgb(34, 10, 167);
    margin-top: 20px;
    color: #fff;
    border: 1px solid #000;
}
.but:hover
{
    background-color: red;
}
.winnername
{
    margin-bottom: 20px;
    font-size: 20px;
}
.winnermessage
{
    background: linear-gradient(pink,lightgreen,orange);
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
